* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(to right, #e9edf5, #dbe2ef);
    color: #0f172a;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: #f8fafc;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #334155;
}

.signup-btn {
    background: #2563eb;
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    gap: 40px;
}

.hero-text {
    max-width: 45%;
}

.hero-text h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    color: #475569;
    margin-bottom: 30px;
}

.buttons a {
    text-decoration: none;
    padding: 14px 22px;
    border-radius: 10px;
    margin-right: 15px;
    font-weight: bold;
}

.primary {
    background: #2563eb;
    color: white;
}

.secondary {
    border: 1px solid #cbd5e1;
    color: #334155;
}


.stats {
    display: flex;
    margin-top: 40px;
}

.stats div {
    margin-right: 40px;
}

.stats h2 {
    color: #2563eb;
}


.hero-image {
    width: 55%;
}

.hero-image img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
}


.container {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    flex: 1;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

input, select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #cbd5e1;
}


.calc-btn {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 10px;
}


.gender {
    display: flex;
    gap: 10px;
}

.gender button {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #cbd5e1;
    background: white;
    cursor: pointer;
}

.gender .active {
    border: 2px solid #2563eb;
    color: #2563eb;
}

.result h1 {
    font-size: 60px;
    color: #2563eb;
}

.badge {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 20px;
    background: #d1fae5;
    color: #16a34a;
    margin: 10px 0;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.calories h1 {
    color: #f97316;
}